/* TRANSPARENT BOX, RENDER */
.background {
	margin: 20px;
	background-color: rgba(0, 0, 0, 0.413);
	border: 1px;
	margin: 5%;
	font-weight: bold;
	color: #000000;
}

/******* DISPLAY DETAILS *******/
/* DIV FOR DISPLAY DETAIL PROGRAM, TITLE, NARRATORS, GUIDES */

/* PROGRAM */
.program {
	padding: 1%;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.bottom-program {
	display: flex;
	margin-top: 5%;
}

.program-title {
	color: whitesmoke;
	text-align: center;
}

/******* GET NARRATOR *******/
/* DIV FOR HEADSHOT, EACH TITLE, AND EACH NAME */

/* NARRATOR NAME AND IMAGE  */
.narrator {
	display: flex;
	justify-content: center;
	/* margin-top: 15%; */
}

.narrator-img-name-title {
	font-size: 35px;
	color: whitesmoke;
}

.headshot {
	width: 200px;
}

.narrator-name {
	font-style: italic;
}

.narrator-bio {
	text-align: center;
}

.narrator-short-bio {
	text-align: center;
}

/* NARRATOR BIO, SHORT BIO AND BIO */

.bio {
	border: 1px;
	width: 40%;
	text-align: center;
	margin-left: 20px;
}

/******* GET GUIDES *******/

/* GUIDE TITLE, ABOVE AUDIO */
.guide-title {
	color: whitesmoke;
}

/* AUDIO CONTROLS */
audio {
	opacity: .5;
	color: rgba(0, 0, 0, .3);
	filter: invert(1);
}

.program-guide {
	padding-right: 30px;
}

.program-guide div {
	margin-top: 10px;
}
