


body {
	color: rgb(0, 0, 0);
	height: 100vh;
	overflow: scroll;
}


audio {
	opacity: .5;
    filter: invert(1);
    border-radius: 0;
    font-size: 45px;
    transform: scale(1.5);
	padding: 0 !important;
	clip: rect(0px,60px,200px,0px);
	overflow: hidden;
}

.program {
	display: flex;
	flex-direction: column;
	align-items: center;
}

/* NARRATOR NAME AND IMAGE  */
/* DIV FOR HEADSHOT, EACH TITLE, AND EACH NAME */

.img-name-title {
	font-size: 35px;
	color: whitesmoke;
}

.headshot{
	width:200px;
}

.eachName {
	font-style: italic;
}