.MeditateList {
	height: 100vh;
	width: 100%;
	overflow: scroll;
	transition: all .7s;
	font-size: xx-small;
}

a {
	color: black;
}

img {
	border-radius: 10%;
}
/* .meditateList {
	display: flex;
	flex-wrap: wrap;
	border-radius: 50%;
} */

/* .meditateElement {
	width: 20%;
} */

/* @media screen and (max-width: 815px) {
	.meditateElement {
		width: 25%;
	}
}

@media screen and (max-width: 720px) {
	.meditateElement {
		width: 33%;
	}
}

@media screen and (max-width: 620px) {
	.meditateElement {
		width: 50%;
	}
} */
.card {
	width: 100vw;
	max-width: 200px;
}

@media (min-width: 767.98px) {
	.card {
		width: 100vw;
	}
}

.card-body {
	width: 160px;
	height: 50.5px;
}

.img-fluid {
	width: 100% !important;
	height: 192px !important;
}

.card-title {
	font-size: 14px;
	color: whitesmoke;
}

.view {
	border-top: 0px;
	position: relative;
	overflow: hidden;
	cursor: default;
	border-top-left-radius: 5% !important;
	border-top-right-radius: 5% !important;
}

.card {
	background-color: black;
}

/* CARD */

.card {
	border-radius: 5% !important;
	width: 20vw !important;
	margin-bottom: 10%;
	margin-right: 10%;
	background: rgba(0, 0, 0, .3);
}

.card img {
	transform: scale(1.2);
}

.card:hover img {
	transform: scale(1.5) !important;
}
