.MeditateList {
	height: 100vh;
	width: 100%;
	overflow: scroll;
}

a {
	color: black;
}

img {
	border-radius: 10%;
}
.meditateList {
	display: flex;
	flex-wrap: wrap;
	border-radius: 50%;
}

.meditateElement {
	width: 20%;
}

@media screen and (max-width: 815px) {
	.meditateElement {
		width: 25%;
	}
}

@media screen and (max-width: 720px) {
	.meditateElement {
		width: 33%;
	}
}

@media screen and (max-width: 620px) {
	.meditateElement {
		width: 50%;
	}
}

.card-body {
	width: 160px;
	height: 50.5px;
}

.img-fluid {
	width: 100% !important;
	height: 192px !important;
}

.card-title {
	font-size: 14px;
	color:whitesmoke;
}

.view {
	border-top: 0px;
	position: relative;
	overflow: hidden;
	cursor: default;
	border-top-left-radius: 5% !important;
	border-top-right-radius: 5% !important;
}

.card {
	background-color: black;
}
