.MeditateList {
	height: 100vh;
	width: 100%;
	overflow: scroll;
}

a {
	color: black;
}

img {
	border-radius: 10%;
}

@media (max-width: 767.98px) {
	.card {
		width: 100vw;
	}
}

.card {
	width: 100vw;
	max-width: 200px;
}
.card-body {
	width: 160px;
	height: 50.5px;
	padding-top: 10px !important;
	overflow: scroll;
}

.img-fluid {
	width: 100% !important;
	height: 192px !important;
}

.card-title {
	font-size: 12.5px;
	color: whitesmoke;
}

.view {
	border-top: 0px;
	position: relative;
	overflow: hidden;
	cursor: default;
	border-top-left-radius: 5% !important;
	border-top-right-radius: 5% !important;
}
